.DS_Store
.project
.idea
*.iml
atlassian-ide-plugin.xml

# Don't commit the following directories created by pub.
build/
**/packages

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

#Ignore testMain file produced by grinder test task
test/testMain.dart


#specific to this libraries tests
test/exampleTests/testMain.dart
test/exampleTests/testMainHeadless.dart
test/exampleTests/testMainHeadless.html

